@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  /* background-image: url("https://i.pinimg.com/736x/04/69/b7/0469b73086775b5491b8db605147131f.jpg"); */
    background-size: cover;
  font-family: "Tajawal", sans-serif;
 
}
.qute {
    font-size: 2rem;
}

.font-size {

    font-size: 1.5rem;
    font-family: "Aref Ruqaa", serif;
    line-height: 3rem;
}
/* General styles */
.font {
  font-family: "Noto Nastaliq Urdu", serif;
}
.ss{
    font-size: 0.5rem !important;
    font-weight: 800 !important;
}
/* Header */
.title {
  margin: 1em;
  text-align: center;
  color: #333;
}

.title h1 {
  border-bottom: 5px double #333;
  padding-bottom: 1em;
}

.custom-style::before,
.custom-style::after {
  content: " _______ ";
  color: #111;
}

/* Main content grid (mobile-first) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 1em;
  grid-template-areas:
    "one"
    "two"
   
    "four"
    "five"
    "six"
    "seven"
    "three"
    "nine";

}

/* Define areas */
.one {
  grid-area: one;
  
}

.two {
  grid-area: two;
  
}
.two p {
    font-size: 1.2rem;
}

.three {
  grid-area: three;
  
}

.four {
  grid-area: four;
   
}
/* photo */
.grid-img {
    display: grid;
    grid-template-rows: repeat(5, 2fr);
    grid-template-columns: repeat(4, 2fr);
    gap: 1em; /* Optional: space between images */
    padding: 1em;
}

.grid-img img {
    width: 100%;  /* Ensures the images take up full width */
    height: 100%; /* Ensures the images take up full height */
    object-fit: cover; /* Keeps the image aspect ratio intact */
    border-radius: 3px; /* Rounds corners of the images */
}

.nine {
    grid-row: 2 / 4;  
    grid-column: 2 / 4;
}

.hold-img {
    
    margin: 0 auto;
}
.only-large{
    display: none;
}
/*  */
.second-four{
    display: flex;
   
    justify-content: center;
    gap: 1em;
}

.five {
  grid-area: five;
  border: 2px red solid;
}

.six {
  grid-area: six;
 
}

.seven {
  grid-area: seven;
  border: 2px red solid;
  /* background-image: url("https://i.pinimg.com/564x/8f/e5/b9/8fe5b995daa602cc4fa1b5cd519dd0ea.jpg"); */
    background-size: cover;

}
.nine {
    grid-area: nine;
   
}

.hover1:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }

/* Image styling */
.two img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.hover-2 {
    --c: #2d3133; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .hover-2:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }


  .carousel-item img {
    height: 500px; /* Set a desired fixed height */
    width: 100%; /* Full width */
    object-fit: cover; /* Ensures the image fits the container without distortion */
  }
  

/* Responsive for larger screens */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "one one one one one one one one"
      "two two two two two two two two"
      "four five five five five five five seven"
      " three three  six six six nine nine  nine ";
  }

  .one, .two, .three, .four, .five, .six, .seven , nine {
    margin: 0;
    padding: 1em;
  }
 
  .img-inline {
    height: 20%;
  }
  .qute {
    font-size: 5rem;
}
.font-size{
    padding: 1em  2em;
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Aref Ruqaa", serif;
}
.ss{
    font-size: 0.9rem !important;
    font-weight: 800 !important;

}
.second-four{
    display: block;
}
.second-four img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}
.grid-img {
    display: none;
    
}
.only-large{
    display: block;
}
.m-holder {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    height: 100%;

}
 
}

